<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <!--* Vertical toolbar-->
        <mat-toolbar color="primary" class="menu__toolbar">
            <h1>Menú</h1>
            <button mat-mini-fab color="accent" class="btn--close" (click)="sidenav.toggle()">
                <mat-icon class="icon--close">close</mat-icon>
            </button>
        </mat-toolbar>

        <mat-list>
            <!--* Menú elements-->
            <nav>
                <a mat-list-item *ngFor="let option of menuOptions" [routerLink]="option.url" class="menu__a">
                    <mat-icon matListItemIcon>{{option.icon}}</mat-icon>
                    <span class="menu__span" matListItemTitle>{{option.name}}</span>
                </a>
            </nav>
        </mat-list>

    </mat-sidenav>

    <!--* Horizontal toolbar-->
    <mat-toolbar color="primary" class="menu__toolbar">
        <button mat-mini-fab color="primary" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <a href="#" class="menu__title">Gestor de Contraseñas</a>

        <button mat-raised-button routerLink="acceso">
            <mat-icon>login</mat-icon>
            Login
        </button>

    </mat-toolbar>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>
</mat-sidenav-container>