<mat-sidenav-container>

    <!--* Horizontal toolbar-->
    <mat-toolbar color="primary" class="header">

        <header class="header__container">
            <!--* Logo-->
            <div class="header__left">
                <picture>
                    <source srcset="/assets/img/password.webp" type="image/webp" accept="image/webp">
                    <img class="header__icon" ngSrc="/assets/img/password.png" width="512" height="512"
                        alt="Descripción de la imagen">
                </picture>
                <a [routerLink]="['/inicio']" class="header__title">PassWizard</a>
            </div>

            <!--* Login & User-->
            <div class="header__right">
                <ng-container *ngIf="isLoged;else login">
                    <app-user-menu [user]="user"></app-user-menu>
                </ng-container>

                <ng-template #login>
                    <button mat-raised-button routerLink="acceso">
                        <mat-icon class="header__icon header__icon--login">login</mat-icon>
                        Login
                    </button>
                </ng-template>
            </div>
        </header>

    </mat-toolbar>

    <main class="main">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer">
        <app-footer class="footer__content"></app-footer>
    </footer>
</mat-sidenav-container>