@use "variables" as var;
@use "mixins" as mix;

.pass-img {
    @include mix.flex-box(column, nowrap, space-around, center);
}

.pass-img__strength {
    margin: 0 auto;
    width: 18rem;
    text-align: center;

    @media (min-width:992px) {
        width: 25rem;
    }
}

.pass-img__img {
    height: 14rem;
    object-fit: contain;

    @media (min-width:992px) {
        height: 25rem;
    }
}

.pass-img__link {
    color: map-get(var.$colors-map, "purple-900");
    font-size: 0.7rem;
    text-align: center;

    @media (min-width:992px) {
        font-size: 1rem;
    }
}