<section class="alert">
    <div class="alert__title">
        <i class="fa-solid fa-triangle-exclamation alert__icon"></i>
        <h1 class="alert__h1">Oops...</h1>
        <h2 class="alert__h2">Algo ha salido mal.</h2>
    </div>

    <div class="alert__content">
        <p *ngIf="data.lengthError">{{data.lengthError}}</p>
        <p *ngIf="data.checkboxError">{{data.checkboxError}}</p>
    </div>

    <div class="alert__footer">
        <button mat-button mat-dialog-close class="btn btn-alert">Close</button>
    </div>
</section>