@use "variables" as var;
@use "mixins" as mix;

.register__p {
    margin-bottom: 2rem;
}

.register__field {
    width: 100%;
    margin-bottom: 1rem;
}

.register__span {
    display: inline-block;
    color: map-get($map: var.$colors-map, $key: "accent-A400");
    cursor: pointer;
    margin-top: 2rem;
    transition: all .3s;

    &:hover {
        color: map-get($map: var.$colors-map, $key: "accent-A100");
    }
}