@use "variables" as var;
@use "mixins" as mix;

.pass-gen {
    @include mix.flex-box(row, nowrap, space-between, center);
    text-align: left;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    border: 1px solid map-get(var.$colors-map, "primary-500");
    background-color: map-get($map: var.$colors-map, $key: "white-2");
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
    margin-bottom: 2rem;
}

.pass-gen__pass {
    line-height: 2.5;
    letter-spacing: 0.1px;
    color: map-get(var.$colors-map, "primary-500");
    user-select: all;
    cursor: text;
}

.pass-gen__badget {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.6rem;
    padding: 0.5rem 0.8rem;
    font-size: 1em;
}

.pass-gen__badget--weak {
    background-color: map-get(var.$colors-map, "warn-700");
    color: map-get(var.$colors-map, "white-2");
}

.pass-gen__badget--medium {
    background-color: map-get(var.$colors-map, "accent-A200");
    color: map-get(var.$colors-map, "white-2");
}

.pass-gen__badget--strong {
    background-color: map-get(var.$colors-map, "primary-500");
    color: map-get(var.$colors-map, "white-2");
}