@use "variables" as var;
@use "mixins" as mix;

.container {
    justify-content: space-around;
    gap: 2rem;
}

.h1 {
    font-size: 1.8em;

    @media(min-width: 768px) {
        font-size: 2.2em
    }
}

//* Styles for text block
.pass-text {
    color: map-get($map: var.$colors-map, $key: "font-primary");
    line-height: 1.3;
}

.pass-text__p {
    padding: 0 1rem;

    @media (min-width: 992px) {
        padding: 0;
        font-size: 1.3em;
    }
}

.container--content {
    box-shadow: none;

    @media (min-width: 768px) {
        @include mix.box-shadow();
    }
}

//* Styles for the password length block.
.pass-length {
    @include mix.flex-box(row, wrap, space-between, center);
    font-family: map-get($map: var.$fonts-map, $key: "primary");
    color: map-get($map: var.$colors-map, $key: "font-primary");
}

.pass-length__input {
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    outline: none;
    color: map-get($map: var.$colors-map, $key: "primary-500");

    //Delete input arrows
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

//* Styles for the checkboxes.
.pass-checks {
    @include mix.flex-box(column, nowrap, center, center);
    gap: 1rem;
    margin-bottom: 3rem;
}

.pass-checks__group {
    width: 100%;
    @include mix.flex-box(row, nowrap, space-between);
}

.pass-checks__p,
.pass-checks__span,
.pass-length__label {
    font-family: map-get($map: var.$fonts-map, $key: "secondary");
    color: map-get($map: var.$colors-map, $key: "font-primary");
    font-size: 1.1em;
}

//* Styles for the buttons.
.pass-buttons {
    @include mix.flex-box(row, nowrap, space-between, center);
}

.pass-buttons__btn {
    text-transform: uppercase;
    font-family: map-get($map: var.$fonts-map, $key: "secondary");
    font-weight: 700;
}