@use "variables" as var;
@use "mixins" as mix;

.table-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
}

.filter {
    width: 100%;
}

// .example-container {
//     display: flex;
//     flex-direction: column;
//     max-height: 500px;
//     min-width: 300px;
// }

// .mat-table {
//     overflow: auto;
//     max-height: 500px;
// }

// .mobile-label {
//     display: none;
// }

// @media(max-width: 600px) {
//     .mobile-label {
//         width: 80px;
//         display: inline-block;
//         font-weight: bold;
//     }

//     .header {
//         display: none;
//     }

//     .row {
//         flex-direction: column;
//         align-items: start;
//         padding: 8px 24px;
//     }
// }

.label {
    display: none;
}

.header{
    margin-bottom: .5rem;
}

.row {
    padding: .5rem;
    margin-bottom: .5rem;
    &:hover {
        @include mix.box-shadow();
    }
}

.cell {
    display: flex;
    align-items: center;
    border: none;
    padding: .5rem 16px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media(max-width:600px) {
    .header {
        display: none;
    }

    .row {
        @include mix.box-shadow();
        background-color: map-get($map: var.$colors-map, $key: "white-2");
        flex-direction: column;
        margin-bottom: 1rem;
        border-radius: 10px;
    }

    .label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }

    .cell {
        border: none;
    }

    .buttons {
        justify-content: space-around;
    }
}