<div class="table-container">
    <h1 class="h1">Mis Contraseñas</h1>

    <!--* Filter Block-->
    <mat-form-field class="filter">
        <mat-label>
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="table mat-elevation-z8">

        <!--* Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row" class="table__cell"> {{row.name}} </mat-cell>
        </ng-container>

        <!--* Password Column -->
        <ng-container matColumnDef="password">
            <mat-header-cell *matHeaderCellDef class="table__header"> Contraseña </mat-header-cell>
            <mat-cell *matCellDef="let row" class="table__cell">
                <div class="visibility">
                    <input type="password" disabled [value]="row.password" class="visibility__pass">
                    <button (click)="passVisibility($event)" class="visibility__icon">
                        <mat-icon  color="primary">visibility_off</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <!--* Category Column -->
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Categoría </mat-header-cell>
            <mat-cell *matCellDef="let row" class="table__cell"> {{row.category}} </mat-cell>
        </ng-container>

        <!--* Created_at Column -->
        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table__header"> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let row" class="table__cell"> {{row.created_at | date: 'dd-MM-YYYY'}} </mat-cell>
        </ng-container>

        <!--* Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="table__header">Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row" class="table__cell">
                <div class="cell-buttons">
                    <button class="cell-button__btn" (click)="updatePassword(row.passwordId)">
                        <mat-icon color="primary">border_color</mat-icon>
                    </button>
                    <button class="cell-button__btn" (click)="deletePassword(row.passwordId)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="table__header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table__row"></mat-row>


        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
    </table>

    <!--*Buttons block-->
    <div class="table-buttons">
        <button class="table-buttons__btn" mat-raised-button color="primary" (click)="newPass()">Añadir
            Contraseña</button>
        <button class="table-buttons__btn" mat-raised-button color="accent" (click)="newPass()">Añadir
            Categoría</button>
    </div>

    <!--* Paginator-->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="paginator"></mat-paginator>

</div>