<div class="table-container">
    <h1 class="h1">Mis passwords</h1>

    <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="table">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <!--* Headers definition-->
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
            <!--* Cells definition-->
            <mat-cell *matCellDef="let row" class="cell">
                <ng-container *ngIf="column.cell;else buttons">
                    <ng-container *ngIf="column.header !=='Contraseña';else password">
                        {{column.cell(row)}}
                    </ng-container>

                    <!--* Password Template-->
                    <ng-template #password>
                        <input type="password" name="password" id="password" [value]="column.cell(row)">
                    </ng-template>
                </ng-container>
            </mat-cell>

            <!--* Buttons Template-->
            <ng-template #buttons>
                <div class="buttons">
                    <button mat-mini-fab><mat-icon>visibility</mat-icon></button>
                    <button mat-mini-fab color="primary"><mat-icon>border_color</mat-icon></button>
                    <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
                </div>
            </ng-template>

        </ng-container>

        <!--* Rows & Cells-->
        <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="row">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="paginator"></mat-paginator>
</div>