@use "variables" as var;
@use "mixins" as mix;

.filter,
.table-buttons,
mat-paginator {
    width: 100%;
}

table {
    overflow: auto;

    @media (max-width:768px) {
        box-shadow: none;
    }

    @media(min-width:768px) {
        background-image: url('/assets/img/iconos.png');
        background-color: map-get($map: var.$colors-map, $key: "white-1");
    }
}

.table__header {
    font-family: map-get($map: var.$fonts-map, $key: "secondary");
    color: map-get($map: var.$colors-map, $key: "primary-500");
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1rem;

    @media(max-width: 600px) {
        display: none;
    }
}

.table__row {
    transition: all .3s;
    margin-bottom: 1rem;

    @media(max-width: 600px) {
        flex-direction: column;
        align-items: start;
        padding: .5rem 1.5rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        border: 1px solid map-get($map: var.$colors-map, $key: "primary-500");
        background-image: url('/assets/img/iconos.png');
        background-color: map-get($map: var.$colors-map, $key: "white-1");
    }
}

.table__cell {
    font-size: 1.3em;

    @media(max-width: 600px) {
        border: none;
        padding: 1rem;
    }
}

.visibility {
    @include mix.flex-box(row, wrap, space-around, center);

    @media(max-width: 600px) {
        justify-content: space-between;
    }
}

.visibility__pass {
    width: 70%;
}

.cell-buttons {
    @include mix.flex-box(row, wrap, flex-start, center);
    width: 100%;
    gap: 4rem;

    @media(max-width: 600px) {
        justify-content: space-around;
    }
}

.cell-button__btn {
    cursor: pointer;
}

.table-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.table-buttons__btn {
    width: 100%;

    @media(min-width:768px) {
        width: initial;
        gap: 2rem;
    }
}

.paginator{
    @media (max-width:768px){
        box-shadow: none;
    }
}