@use "mixins" as mix;

.form {
    @include mix.flex-box(row, wrap, space-between);
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.form__field {
    flex-basis: 100%;
}

.form__label {
    @include mix.flex-box(row, nowrap, center);
    gap: .3rem;
}