@use "variables" as var;
@use "mixins" as mix;

.visibility {
    @include mix.flex-box();
    align-items: center;
}

.visibility__input {
    width: 80%;
    color: map-get($map: var.$colors-map, $key: "primary-500");
}