@use "variables" as var;
@use "mixins" as mix;

.visibility {
    @include mix.flex-box();
    align-items: center;

    @media (max-width: 864px){
        justify-content: space-between;
    }
}

.visibility__input {
    width: 80%;
    color: map-get($map: var.$colors-map, $key: "accent-A200");
}